<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SightCity Travel Planning</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  {{!-- Import Google Icon Font --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
  {{!-- jquery --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  {{!-- <div class="flex-column">
    <header class="display-flex justify-space-between align-center"> --}}

      {{!-- Materialize Navigation Bar --}}
      <nav>
        <div class="nav-wrapper blue">
          <a href="/" class="brand-logo">🗺️ SightCity Travel Planning</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/newtrip">Plan a New Trip</a></li>
            <li><a href="/about">About Us</a></li>
            <button class="no-button" id="logout">Logout</button>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/newtrip">Plan a New Trip</a></li>
            <li><a href="/about">About Us</a></li>
            <button class="no-button" id="logout">Logout</button>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
      </ul>

    </header>

    <main class="container container-fluid">
      {{{ body }}}
    </main>

  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>