<title>SightCity Travel Planning - About</title>

<div class='row'>
  <div class='col s12 about-container'>
    {{! <h2 class="center-align blue-text text-darken-2 cursive-font">About</h2> }}
    <h2 class='center-align blue-text text-darken-2 title'>Meet the Team</h2>
    {{! <h2 class="center-align blue-text text-darken-1 cursive-font">Meet the Team</h2> }}
  </div>
</div>

<div class='row'>

  <!-- Elaine -->
  <div class='col s12 m12 l3'>
    <div class='card large'>
      <div class='card-image'>
        <img src='./images/Elaine.png' />
        <span class='card-title'>Elaine Danahy</span>
      </div>
      <div class='card-content'>
        <p><a href='https://github.com/edanahy22' target='/'>GitHub Account</a></p>
        <p><a
            href='https://www.linkedin.com/in/elainedanahy/'
            target='/'
          >LinkedIn</a></p>
      </div>
    </div>
  </div>

  <!-- Ian -->
  <div class='col s12 m12 l3'>
    <div class='card large'>
      <div class='card-image'>
        <img src='./images/headshot.png'/>
        <span class='card-title'>Ian Sieg</span>
      </div>
      <div class='card-content'>
        <p><a href='https://github.com/ian-sieg' target='/'>GitHub Account</a></p>
        <p><a
            href='https://www.linkedin.com/in/ian-sieg-670675212/'
            target='/'
          >LinkedIn</a></p>
      </div>
    </div>
  </div>

  <!-- Melissa -->
  <div class='col s12 m12 l3'>
    <div class='card large'>
      <div class='card-image'>
        <img src='./images/Deven.png' />
        <span class='card-title'>Melissa Deven</span>
      </div>
      <div class='card-content'>
        <p><a href='https://github.com/deven1991' target='/'>GitHub Account</a></p>
        <p><a
            href='https://www.linkedin.com/in/melissa-deven-18457832/'
            target='/'
          >LinkedIn</a></p>
      </div>
    </div>
  </div>

</div>