<title>SightCity Travel Planning - About</title>

<div>
    <h3 class="center-align">
        <span class="blue-text text-darken-2">About SightCity Travel Planning</span>
    </h3>
    <br>
    <h4 class="center-align">
        <span class="blue-text text-darken-1">Meet the Team</span>
    </h4>
</div>


<div class="row">

    <!-- Elaine -->
    <div class="col s4 m3">
        <div class="card">
            <div class="card-image">
                <img src="./images/Elaine.jpg">
                <span class="card-title">Elaine Danahy</span>
            </div>
            <div class="card-content">
                <p><a href="https://github.com/edanahy22" target="/">GitHub Account</a></p>
                <p><a href="https://www.linkedin.com/in/elainedanahy/" target="/">LinkedIn</a></p>
            </div>
        </div>
    </div>

    <!-- Ian -->
    <div class="col s4 m3">
        <div class="card">
            <div class="card-image">
                <img src="./images/Deven.png">
                <span class="card-title">Ian Sieg</span>
            </div>
            <div class="card-content">
                <p><a href="https://github.com/ian-sieg" target="/">GitHub Account</a></p>
                <p><a href="https://www.linkedin.com/in/melissa-deven-18457832/" target="/">LinkedIn</a></p>
            </div>
        </div>
    </div>

        <!-- Melissa -->
    <div class="col s4 m3">
        <div class="card">
            <div class="card-image">
                <img src="./images/Deven.png">
                <span class="card-title">Melissa Deven</span>
            </div>
            <div class="card-content">
                <p><a href="https://github.com/deven1991" target="/">GitHub Account</a></p>
                <p><a href="https://www.linkedin.com/in/melissa-deven-18457832/" target="/">LinkedIn</a></p>
            </div>
        </div>
    </div>

</div>