<h2>What do you want want to do in {{location}}, {{first_name}}?</h2>
<form>
  <input type='text' class='form-control input' id='cityActivity' />
  <button type='submit' class='btn btn-primary' id='search-activity-button'>Find Activities</button>
</form>

<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<script src='/js/yelp.js'></script>