<!-- Initial welcome screen -->


<div>
    <h5 class="center-align">
        <img src="/images/logo.png">
        <br>
        <a href="/newtrip"><button class="btn btn-primary">Start Planning Your Trip</button></a>
    </h5>
</div>