<!-- Initial welcome screen -->
<div class="landing-page">
    <div class="center-align">
        <img src="/images/logo.png" alt="a line drawing of the globe with Sight City Travel Planning underneath it"/>
        <br class="mb-2">
        <a href="/newtrip" class="waves-effect waves-light btn-large">Start Planning Your Trip</a>
    </div>
</div>

<script src="/js/slideshow.js"></script>