<div class="row">
  <div class="col s12 m6">
    <h2>Login</h2>
    <hr>

    <div class="row">
      <form class="col s12 login-form">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email-login" type="text" class="validate" />
          <label for="email-login">Enter your Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">security</i>
          <input class="validate" type="password" id="password-login" />
          <label for="password-login">Enter your Password</label>
        </div>
        <div class="right-align">
          <button class="waves-effect waves-light teal lighten-1 btn" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-6">

    <h2>Signup</h2>
    <hr>
    <div class="row">
      <form class="col s12 signup-form">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="first-name-signup" type="text" class="validate" />
          <label for="first-name-signup">Enter your First Name</label>
        </div>
        <div class="input-field col s6">

          <input class="validate" type="text" id="last-name-signup" />
          <label for="last-name-signup">Enter your Last Name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email-signup" type="text" class="validate" />
          <label for="email-signup">Enter your Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">security</i>
          <input class="validate" type="password" id="password-signup" />
          <label for="password-signup">Enter your Password</label>
        </div>
        <div class="right-align">
          <button class="waves-effect waves-light teal lighten-1 btn" type="submit">Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 login-img">
    <div class="card blue darken-3 login-card">
      <div class="card-content white-text ">
        <span class="card-title">Plan your next adventure</span>
      </div>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>