<h1>Plan your trip</h1>

{{! <label for="location">Where do you want to go?</label>
<input type="text" id="location" name="location" placeholder="Los Angeles">  }}

<div class="form-group">
        <form>
            <label for="location">Where do you want to go?</label>
            <input type="text" id="city" name="location" placeholder="i.e. Los Angeles">
            <input type="text" class="datepicker" id="start-date" placeholder="Start Date">
            <input type="text" class="datepicker" id="end-date" placeholder="End Date">
            <button type="submit" class="btn btn-primary" id="search-hotel-button">Find Hotels</button>
        </form>
        <form>
            <input type="text" class="form-control input" id="cityActivity" />
            <button type="submit" class="btn btn-primary" id="search-activity-button">Find Activities</button>
        </form>
</div>

<main id='content'></main>

<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script>
     $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<!-- Materialize -->

<script src='/js/yelp.js'></script>