<div>
  <h5 class="center-align">

    <a class="waves-effect waves-light btn-large" href="/newtrip">Create New Trip</a>
    <a class="waves-effect waves-light btn-large" href="/trip">View Saved Trips</a>
  </h5>
</div>