<body>
  <div id="wrapper">
    <a class="waves-effect waves-light btn-large" href="/newtrip">Create New Trip</a>
    <a class="waves-effect waves-light btn-large" href="/trip">View Saved Trips</a>
  </div>
</body>