<!-- Initial welcome screen -->

<div>
    <h5 class="center-align">
        <img src="/images/logo.png" alt=" centered image" />
        <br>
        <a href="/login"><button class="btn btn-primary">Login or Signup</button></a>
    </h5>
</div>