<!-- Initial welcome screen -->
<div class="row mb-4 project">
    <div class="col-md-5">
        <img src="/images/logo.png">
        <a href="/login"><button class="btn btn-primary">Login or Signup</button></a>
    </div>
</div>