<!-- Initial welcome screen -->

<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
        <p class="aligncenter"> 
            <img src="/images/logo.png" alt=" centered image" />
            <br> 
            <a href="/login"><button class="btn btn-primary">Login or Signup</button></a>
        </p>
    </div>
</div>